.mainItem:not(:last-child) {
  margin-bottom: 40px;
}

.visibleButtons {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 20px;
  background-color: #efefef;
  border-radius: 15px;
}

.visibleButtonsItem:not(:last-child) {
  margin-right: 10px;
}

.unVisibleButtons {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.unVisibleButtonsItem:not(:last-child) {
  margin-right: 10px;
}

.smallButton {
  background-color: transparent;
  min-width: 100px;
  min-height: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 30);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #886478;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
}

.button {
  background-color: #50a4ff;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
}

.clicked {
  background-color: #efeefe;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.06em;
  color: #1f2428;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.green {
  background-color: #8bc34a;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
}

.red {
  background-color: #d50000;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.textCorrect {
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  letter-spacing: 0.03em;
  color: #8bc34a;
}

.correctBtn {
  background-color: #efeefe;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1f2428;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
  margin-left: auto;
}

.button:hover,
.correctBtn:hover,
.button:focus,
.correctBtn:focus {
  background-color: #efeefe;
  color: #1f2428;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
