.item:not(:last-child) {
  margin-bottom: 30px;
}

.text {
  display: inline;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #1f2428;
}

.select {
  display: inline-block;
  border: 2px solid #50a4ff;
  border-radius: 10px;
  width: fit-content;
  min-width: 50px;
  max-width: 400px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #1f2428;
  padding: 2px 5px 5px 5px;
}

.formWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

/* .label {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #50a4ff;
  border-radius: 10px;
  padding: 10px 15px;
}

.label:hover,
.label:focus {
  background-color: #50a4ff;
  color: black;
}

.label:not(:last-child) {
  margin-bottom: 10px;
} */

.label {
  border: 2px solid #886478;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}
.label:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.label:not(:last-child) {
  margin-bottom: 10px;
}

.input {
  position: absolute;
  left: -9999px;
}
.input:checked + .span:before {
  background-color: #50a4ff;
}

.span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

.span:before {
  display: flex;
  flex-shrink: 0;
  content: '';
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.25s ease;
  border: 2px solid #886478;
}

.icon {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 44px;
}
