.button {
  background-color: #50a4ff;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  padding: 5px 15px;
  margin: 0 auto;
}

.button:hover {
  background-color: #007bff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
