.item {
  margin: 25px 20px;
}

.text {
  display: inline;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #1f2428;
}

.select {
  display: inline-block;
  border: 2px solid #50a4ff;
  border-radius: 10px;
  width: fit-content;
  min-width: 50px;
  max-width: 400px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #1f2428;
  padding: 2px 5px 5px 5px;
}

.icon {
  font-size: 24px;
}
